/* remove default margin and padding from body */
/* body {
  padding: 0;
  margin: 0;
}; */

/* set map, body, and html to 100% of the screen size */
/* #map,
body,
html {
  height: 100%;
}; */


/* #circlePlot {
  transform: rotate(20deg); 
 } */

#canvas-basic,
#map {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: -5;
};