<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 2: Renewalable Energy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8acf82;">
        <a class="navbar-brand" href="/">
            <img src="static/css/icon.png" width="35" height="35" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{ url_for('option1') }}">United States</a>
            <a class="nav-item nav-link" href="{{ url_for('option2') }}">Global</a>
            <a class="nav-item nav-link" href="{{ url_for('option3') }}">Map</a>
          </div>
        </div>
      </nav>
      
    <div class="container">
        <div class="jumbotron text-center">
            <h2>Project 2: Renewalable Energy</h2>
            <h4>Taking a closer look at renewalable energy generation and consumption</h4>
        </div>
        <!-- <div class="row">
          <div class="col-sm">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus laboriosam cupiditate omnis doloribus sapiente iste pariatur voluptatibus similique ab eius, minus necessitatibus debitis ipsa laudantium ducimus explicabo eaque id inventore.</p>
            <div id="circlePlot"></div>
          </div>
        </div>   -->
    </div>
  
    

    
    

    <!-- Leaflet JS -->
    <!-- <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script> -->
    <!-- D3 JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- API key -->
    <!-- <script type="text/javascript" src="static/config.js"></script> -->
    <!-- Our JavaScript -->
    <!-- <script type="text/javascript" src="static/logic.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic2.js') }}"></script>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>